body {
  background-color: #1a2b3c;
  color: #fff;
  font-family: "Inter", sans-serif;
  line-height: 30px;
  font-size: 18px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 18px;
  text-transform: uppercase;
  align-items: center;
}

main {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

nav a {
  padding: 8px 12px;
}

nav a:hover {
  background: #3a506b;
}

main a {
  padding: 8px 12px;
}

main a:hover {
  background: #3a506b;
}

input {
  width: 45px;

}

form input,
form button,
form select {
  padding: 10px;
}

.block-post {
  border: 1px solid #fff;
  border-collapse: collapse;
  padding: 15px;
  border-radius: 5px;
  margin: 10px 0 10px 0;
}

textarea {
  width: 200px;
  height: 150px;
}
